.container {
  display: flex;
  flex-direction: column;
  align-items: center;
.from_container{
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .error {
    outline-color: red;
    border-color: red;
  }
}
}